NODE_PATH=src
REACT_APP_ES_DATASPACE_URL=<ELASTIC-URL:9243>
REACT_APP_ES_URL=https://knowledge-space.org/elasticsearch/
REACT_APP_ES_DATASPACE_USER=<ELASTIC-USER>
REACT_APP_ES_DATASPACE_PASS=<ELASTIC-PASSWORD>
REACT_APP_GA_TRACKING_ID=<GA-TRACKING-ID>
REACT_APP_API_END_POINT=http://localhost:5000/

NEO4J_PROTOCOL_NIFSTD=bolt+routing
NEO4J_HOST_NIFSTD=<neo4j-url>
NEO4J_USERNAME_NIFSTD=<neo4j-user>
NEO4J_PASSWORD_NIFSTD=<neo4j-password>
NEO4J_PORT_NIFSTD=7687